*{
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
    max-width: 1920px;
}

a{
	text-decoration: none;
	color: #000;
	scroll-behavior: smooth;
}

.container{
    width: 1440px;
    margin: 0 auto;
}

/*HEADER*/

header{
    background: rgba(60, 98, 179, 0.5);
    backdrop-filter: blur(40px);
}

.logo{
    text-align: center;
    padding-top: 25px;
}

.nav{
    padding-top: 35px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;

}

.nav_link{
    padding: 0 25px;
}

.nav_link:last-child{
    padding-right: 0px;
}

.nav_link a{
    transition: .3s;
    font-size: 20px;
    position: relative;
    
}

.nav_link a:after{
	display: block;
	content: "";
	position: absolute;
	left: 50%;
	width: 0%;
	height: 2px;
	background-color: rgb(51, 4, 179);
	transition:  .5s ease-in-out;
	transform: translateX(-50%);
}

.nav_link a:hover:after{
	width: 100%;
}

/*INFO*/

#info{
    background-color: #4E0894;
    color: #fff;
    text-align: center;
    height: 616px;
    padding-top: 100px;
}

.info{
    background-color: #107107;
    border: 1px solid #107107;
    border-radius: 10px;
    width: 700px;
    height: 200px;
    margin: 0 auto;
    position: relative;
}

.info_form{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.inform_text{
    font-size: 32px;
    padding-top: 40px;
    margin-bottom: 40px;
}

.info_text{
    font-size: 18px;
    margin-bottom: 10px;
}

.inform input{
    width: 200px;
    height: 50px;
    border: 1px solid #4E0894;
    border-radius: 10px;
    text-align: center;
}

.info_btn{
    position: absolute;
    left: 39%;
    bottom: 10%;

}

.info_btn input{
    border: 1px solid #4E0894;
    border-radius: 10px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    padding: 15px 25px;
    transition: .5s;
    text-transform: uppercase;
}

.info_btn input:hover{
    background-color: #000;
    color: #fff;
    transition: .6s;
}

/*CONTACT*/

#contact{
	background-color: #4E0894;
}

.contact{
	display: flex;
	justify-content: space-around;
	color: #fff;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

.contacts_main_text{
	font-size: 24px;
}

.contacts_sec_text, .contacts_sec_text a{
	font-size: 16px;
	color: #D0D0D0;
	padding-top: 15px;
	transition: .5s;
}

.contacts_sec_text a:hover{
	color: #fff;
	transition: .5s;
}

.follow_us_img{
	padding-top: 25px;

}

.follow_us_img a{
	margin-right: 20px;
}

.follow_us_img a:last-child{
	margin-right: 0;
}

.follow_us_img a img{
	border: 1px solid #000;
	border-radius: 50px;
	background-color: #000;
	padding: 10px;	
	transition: .5s;
}

.follow_us_img a img:hover{
	border: 1px solid #107107;
	background-color: #107107;
	transition: .5s;
}
